<div id="homeView" ng-controller="HomeController">
  <div class="home-content">
    <div class="row night-row">
      <div class="col-md-12">
        <div class="page-header bgn-header">
          <h1>Welcome {{ getFirstName() }}!</h1>
        </div>
      </div>
    </div>
    <div ng-if="isUserAuthenticated()">
      <h3>You are now logged in, click on 'Calendar' in the menu on top to start.</h3>
    </div>
    <div ng-if="!isUserAuthenticated()">
      <h3>As a guest, you can <b>only view the calendar</b> by clicking 'Calendar' in the menu on top.</h3>
      <h3>However, if you want to <b>sign up</b> for a board game or <b>host</b> yourself:</h3>
      <ol>
        <li>First 'Login', and allow public info to be retrieved.</li>
        <li>After allowing, you will be returned here.</li>
        <li>When you click on 'Calendar' in the menu on top, you will be able to host or sign up for a board game.</li>
      </ol>
    </div>
  </div>
</div>