<div class="popover-content">
  <div class="star-rating-description">
    <table class="table">
      <thead>
        <tr>
          <th># Stars</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="green"><span class="glyphicon glyphicon-star" ng-repeat="i in getEnumerator(1) track by $index" aria-hidden="true"></span></td>
          <td>Light - ideal for absolute beginners</td>
        </tr>
        <tr>
          <td class="darkcyan"><span class="glyphicon glyphicon-star" ng-repeat="i in getEnumerator(2) track by $index" aria-hidden="true"></span></td>
          <td>Light to Medium - still great for absolute beginners</td>
        </tr>
        <tr>
          <td class="yellowgreen"><span class="glyphicon glyphicon-star" ng-repeat="i in getEnumerator(3) track by $index" aria-hidden="true"></span></td>
          <td>Medium - gamers or beginners who love a challenge</td>
        </tr>
        <tr>
          <td class="orange"><span class="glyphicon glyphicon-star" ng-repeat="i in getEnumerator(4) track by $index" aria-hidden="true"></span></td>
          <td>Medium to Heavy - seasoned gamers</td>
        </tr>
        <tr>
          <td class="red"><span class="glyphicon glyphicon-star" ng-repeat="i in getEnumerator(5) track by $index" aria-hidden="true"></span></td>
          <td>Heavy - only recommended for hard core gamers</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>