body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
}

.navbar {
  border-radius: 0px;
  background-color: #BFAC9B;
  border-color: #BFAC9B;
  color: #262014;
  border: 0px;
}

.navbar-brand {
  color: #262014 !important;
}

.navbar-default .navbar-nav > li > a {
  color: #262014;

  &:hover {
    background-color: #F2DCC9;
    border-color: #F2DCC9;
    color: #262014;
  }

  &:focus {
    background-color: #BFAC9B;
    border-color: #BFAC9B;
    color: #262014;
  }
}

.navbar-default .navbar-nav > .active > a {
  background-color: #8C8070;
  border-color: #8C8070;
  color: #F2DCC9;

  &:hover {
    background-color: #8C8070;
    border-color: #8C8070;
    color: #F2DCC9;
  }

  &:focus {
    background-color: #8C8070;
    border-color: #8C8070;
    color: #F2DCC9;
  }
}

.large-info > .popover {
  max-width: 500px;
  width: 500px;
}

.bgn-header {
  margin: 20px 0 20px;
}

.info-circle {
  color: #31b0d5;
}

input {
  &:not(.ng-pristine) {
    &.ng-invalid  {
      border-color: #a94442;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

      &:focus {
        border-color: #843534;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
      }
    }
  }
}

.bgn-complexity {
  &:not(.ng-pristine) {
    &.ng-invalid  {
      color: #a94442;

      &:focus {
        color: #843534;
      }
    }
  }
}

.bgn-error {
  color: #a94442;
}

.bgn-required {
  color: red;
}

.bgn-not-required {
  color: transparent;
}

.bgn-calendar-error {
  color: #a94442;
  border-color: #a94442;

  &:hover {
    color: #a94442;
    border-color: #a94442;
  }
}

.user-header {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}